body {
  font-family: 'Roboto', sans-serif;
}

#header {
  text-align: center;
  font-weight: 100;
}

.line {
  height: 5px;
  background: #000;
}

.index-body {
  margin-top: 250px;
}

.question-title {
  text-align: center;
}

.jumbotron {
  text-align: center;
}
