.body {
  font-family: 'Roboto Condensed', sans-serif;
}

.motto {
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}

.intro {
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 125%;
}

#header {
  text-align: center;
}

.line {
  height: 5px;
  background: #000;
}

hr {
  border:none;
  border-top:1px dotted #000;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:50%;
}

.index-body {
  margin-top: 250px;
}

.question-title {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron {
  text-align: center;
}

.name {
  font-size: 150%;
}

.question, .date {
  font-weight: 300;
}
