<div id="header">
  <a href="/"><img src="img/logo.png" height="200px" width='200px'></a>
  <h4><span class="motto">NOT YOUR AVERAGE QUEUE</span></h4>
</div>
<div class="line"></div>
<div class="jumbotron">
  {{outlet}}
</div>
