<div id="header">
  <a href="/"><img src="img/logo.png" height="200px" width='200px'></a>
  <span class="motto"><h4>Not your average queue.</h4></span>
</div>
<div class="line"></div>
<div class="jumbotron">
  {{outlet}}
</div>
